<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="app.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Connecting BackEnd To FrontEnd</title>
    
</head>
<body>
    <div>
        <input  id="email" type="email" placeholder="Enter Email">
        <input id="pass" type="password" placeholder="Enter Password">
    </div>
<br>
    <div>
        <button onclick="signIn()">
            Log In
        </button>
    </div>

</body>
</html>